<ion-header-bar class="bar-positive">
	<h1 class="title">Welcome to {{ qrCodeVerifyForm.merchantInfo.name }}</h1>
</ion-header-bar>


<ion-content padding="false" has-bouncing="true">
	<div class="list">
		<label class="item item-input item-stacked-label">
			<span class="input-label">Username</span>
			<input ng-model="qrCodeVerifyForm.userName" type="text" autofocus placeholder="Enter your username here" />
		</label>
		<label class="item item-input item-stacked-label">
			<span class="input-label">Password</span>
			<input ng-model="qrCodeVerifyForm.password" type="password" placeholder="Enter your password here" />
		</label>
		<div class="padding">
			<br>
			<button ng-click="qrCodeVerifyForm.verifyQrCode()" class="button button-positive button-block">
				Verify QR Code
			</button>
		</div>
	</div>
</ion-content>